@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

$font-stack:'Nova Square', cursive;
$black: #000000;
$cultured: #e9ecefff;
$baby-blue-eyes: #a2d2ffff;
$uranian-blue: #bde0feff;
$uranian-blue-2: #a4d5ff;
$nadeshiko-pink: #ffafccff;
$orchid-pink: #ffc8ddff;
$pink-lavender: #e0b4e6ff;
$pink-lavender-2: #e2bae6ff;
$light-coral: #f69897ff;
$light-pink: #ffadadff;
$tea-green: #caffbfff;
$white:white;

// colores que si utilizare
$hot-pink:#FF5C98;
$white:white;


%flex-column{
    display: flex;
    flex-flow: column nowrap;
}

%flex-row {
    display: flex;
    flex-flow: row wrap;
}

%flex-center {
    justify-content: center;
    align-items: center;
}

%justify-center {
    justify-content: center;
}

%justify-space-evenly {
    justify-content: space-around;
}

%estilo-h1 {
    font-size: calc(11em + 2vw);
}

%estilo-h2 {
    font-size: calc(1em + 1vw);
}


%estilo-p  {
    font-size: calc(3em + 1vw);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}


body{
    background-color: $black;
}

h1{
    @extend %estilo-h1;
    margin-bottom: 5rem
}

h2{
    @extend %estilo-h2;
   
}

p{
    @extend %estilo-p;
    margin-bottom: 4rem
}



.container{
    @extend %flex-column;
    @extend %flex-center;
    width: 100vw;
    height: 100vh;
    // max-width: 80rem;
   
}

.container-bienvenida, .container-trivia, .container-sin-opciones{
    @extend %flex-column;
    @extend %flex-center;
    // background-color: $orchid-pink;
    // background-color: $black;
    color: $white;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.button{
    // font-family: $font-stack;
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 22%;
    text-align: center;
    margin:  1rem 0;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: $hot-pink;
    border-radius: 4px;
    border-color: $hot-pink;
}


.button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px -1px #FF8080, -9px 5px 15px -1px #FFE488, -7px -5px 15px -1px #8CFF85, 12px -5px 15px 1px #80C7FF, 12px 10px 15px 2px #E488FF, -16px 10px 15px -1px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
    transition: transform 150ms;
    transform: scale(1.05);
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


.input-nombre{
    @extend %estilo-p;
    margin-bottom: 2rem;
    width: 22%;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 $white;
    border-radius: 4px;
    outline: none;
}

input::placeholder {
    color: #aaa;
}


//Menu opciones de trivia
.container-select-trivia{
    @extend %flex-row;
    @extend %justify-space-evenly;
    width: 80%;
    margin-bottom: 4rem;

    select {
        // appearance: none;
        cursor: pointer;
        border-radius: .5rem;
        color: black;
        margin: 1rem ;
        border: palegreen;
        background-color: white;
        font-size: calc(.6em + 1vw);
        padding: 1.5rem;
        outline:none;
      
    }
    // select:hover {
    //     // appearance: none;
    //     border-radius: .5rem;
    //     border: rgb(37, 25, 105);
    // }

    
}


// juego

.container-trivia{
    @extend %flex-column;
    color: $white;

    h2{
        font-size: calc(1.5em + 1vw);
        margin-bottom: 2rem
    }

    .respuesta-contenedor{
        @extend %flex-row;
        margin-bottom: 0.8rem;
        width: 100%;
        border-radius: 4px;
        /* background: #E0B4E6; */
        /* background: #c778ce; */
        background: #FF5C98;
       
        // min-width: 80rem;

        &:hover{
            cursor: pointer;
            box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 30px 5px rgba(255,113,113,0);
            /* box-shadow: 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px -7px 27px 1px #8E5CFF, -14px -2px 15px 6px rgba(222,146,255,0); */
            transform: scale(1.03);
            transform: transform 100ms;
        }
    }

    .prefijo-respuesta{
        padding: 2rem 2.5rem;
        margin-bottom: 0;
        font-size: calc(16em + 1vw);
    }

    .respuesta{
        padding: 2rem;
        margin-bottom: 0;
        font-size: calc(16em + 1vw);
    }

    .correct {
        background: #7CCF72;
        box-shadow:0px 0px 20px 6px#7CCF72 !important

    }
    
    .incorrect {
        background: #FF7070;
        box-shadow:0px 0px 20px 6px #FF616B !important;
    }
    

}





